:ruby
  value = number_with_precision delta, precision: 2
- case delta <=> 0
- when 1
  %span.delta.delta_plus +#{value}
- when 0
  %span.delta.delta_equal ±#{value}
- when -1
  %span.delta.delta_minus #{value}
