%h1 友達がみつかりませんでした!!!!
%p
  まだ#daitokaiet初めてないのでは？？
  %br
  是非お誘い合わせの上煽り合ってください！！
%p
  = link_to '友達を#daitokaietに誘う', "https://twitter.com/intent/tweet?text=#{ERB::Util.url_encode('一緒にソーシャルレコーディングダイエットサービス #daitokaiet やりませんか？')} #{root_url}", class: 'btn btn-primary',target: '_blank'
