/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* home */
.home { background:#f0f0f0; }
.home #title { background:#333; color:#fff; text-align:center; padding:10% 0; }
.home .how-to { border:1px solid #fff; float:left; text-align:center; padding:6% 0; }
.home .how-to:hover { opacity:0.7; }
.home .how-to a:hover { text-decoration:none; background:none; }
.home .how-to .nums { font-size:6.0em; padding:10% 0 13%; }
.home #how1 { background:#1abc9c; }
.home #how2 { background:#2ecc71; }
.home #how3 { background:#3498db; }
.home #how4 { background:#ecf0f1; }
.home #how4 img { width:30%; }

.home p {
    line-height: 18px;
}

@media (max-width: 767px){
	.home #secondary { padding:0 !important; }
	.home .how-to { width:50%; margin:0; height:250px; padding-top:4%; }
	.home #how4 img { width:28% !important; }
}
@media (min-width: 768px){
	.home #secondary { padding:0 !important; }
	.home .how-to { width:50%; margin:0; height:250px; padding-top:4%; }
	.home #how4 img { width:28% !important; }
}
@media (min-width: 992px){
	.home .how-to { width:48%; height:214px; padding:6% 0; margin-left:1%; margin-bottom:1%; }
	.home#how4 img { width:32% !important; }
}
@media (min-width: 1200px){
}
