.arrow_box
  display: none
  position: absolute
  padding: 10px
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px
  background: #333
  color: #fff

  &:after
    position: absolute
    bottom: 90%
    left: 30%
    width: 0
    height: 0
    margin-left: -10px
    border: solid transparent
    border-color: rgba(51, 51, 51, 0)
    border-bottom-color: #333
    border-width: 10px
    pointer-events: none
    content: " "
