<a class="twitter-timeline" href="https://twitter.com/search?q=%23daitokaiet" height="<%= height %>" width="<%= width %>" data-widget-id="413850982359912448">#daitokaiet に関するツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
